header {
    background-color: black;
    height: 80px;
    align-content: center;

    img{
        margin-left: 80px;
    }
}

@media (max-width: 600px) {
    img{
        margin-left: 16px !important;
    }
}